body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:543px;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:113px;
  width:260px;
  height:543px;
  display:flex;
}
#u5972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 155, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C2C6D1;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:656px;
  width:258px;
  height:22px;
  display:flex;
  color:#C2C6D1;
}
#u5973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:4px;
  background:inherit;
  background-color:rgba(16, 16, 16, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:668px;
  width:99px;
  height:4px;
  display:flex;
}
#u5974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:95px;
  width:300px;
  height:43px;
  display:flex;
}
#u5975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:556px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:138px;
  width:21px;
  height:556px;
  display:flex;
}
#u5976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:41px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:653px;
  width:258px;
  height:41px;
  display:flex;
}
#u5977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:556px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:138px;
  width:21px;
  height:556px;
  display:flex;
}
#u5978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5979_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:136px;
  width:30px;
  height:30px;
  display:flex;
  font-size:20px;
}
#u5979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5980_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:57px;
  height:19px;
}
#u5980p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:52px;
  height:6px;
}
#u5980p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:6px;
}
#u5980p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u5980p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u5980p002 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:4px;
  height:2px;
}
#u5980p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:150px;
  width:47px;
  height:1px;
  display:flex;
}
#u5980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:30px;
  width:264px;
  height:37px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5981_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5983_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:95px;
  width:30px;
  height:30px;
  display:flex;
  font-size:20px;
}
#u5983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:99px;
  width:40px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u5984 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5984_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:132px;
  width:433px;
  height:32px;
  display:flex;
}
#u5985 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5986_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:341px;
  width:30px;
  height:30px;
  display:flex;
  font-size:20px;
}
#u5986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:71px;
  height:19px;
}
#u5987p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:68px;
  height:6px;
}
#u5987p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:6px;
}
#u5987p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5987p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5987p002 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5987p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:275px;
  width:62px;
  height:1px;
  display:flex;
}
#u5987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5988_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:260px;
  width:30px;
  height:30px;
  display:flex;
  font-size:20px;
}
#u5988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:71px;
  height:19px;
}
#u5989p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:68px;
  height:6px;
}
#u5989p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:6px;
}
#u5989p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u5989p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u5989p002 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5989p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:356px;
  width:62px;
  height:1px;
  display:flex;
}
#u5989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:191px;
  width:30px;
  height:30px;
  display:flex;
  font-size:20px;
}
#u5991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:195px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u5992 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5992_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:228px;
  width:433px;
  height:80px;
  display:flex;
}
#u5993 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5995_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:333px;
  width:30px;
  height:30px;
  display:flex;
  font-size:20px;
}
#u5995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:337px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u5996 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5996_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:370px;
  width:433px;
  height:64px;
  display:flex;
}
#u5997 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:731px;
  width:192px;
  height:28px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u5998 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5998_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:2px;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:764px;
  width:958px;
  height:1px;
  display:flex;
}
#u5999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6000_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:199px;
  height:11px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:760px;
  width:193px;
  height:5px;
  display:flex;
}
#u6000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(114, 190, 73, 1) 0%, rgba(114, 190, 73, 1) 0%, rgba(104, 177, 69, 1) 100%, rgba(104, 177, 69, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(114, 190, 73, 1) 0%, rgba(114, 190, 73, 1) 0%, rgba(104, 177, 69, 1) 100%, rgba(104, 177, 69, 1) 100%);
  background:linear-gradient(180deg, rgba(114, 190, 73, 1) 0%, rgba(114, 190, 73, 1) 0%, rgba(104, 177, 69, 1) 100%, rgba(104, 177, 69, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:16px;
  -moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:809px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(210, 43, 35, 1) 0%, rgba(210, 43, 35, 1) 0%, rgba(187, 39, 32, 1) 100%, rgba(187, 39, 32, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(210, 43, 35, 1) 0%, rgba(210, 43, 35, 1) 0%, rgba(187, 39, 32, 1) 100%, rgba(187, 39, 32, 1) 100%);
  background:linear-gradient(180deg, rgba(210, 43, 35, 1) 0%, rgba(210, 43, 35, 1) 0%, rgba(187, 39, 32, 1) 100%, rgba(187, 39, 32, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:16px;
  -moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:809px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(36, 165, 246, 1) 0%, rgba(36, 165, 246, 1) 0%, rgba(27, 147, 226, 1) 100%, rgba(27, 147, 226, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(36, 165, 246, 1) 0%, rgba(36, 165, 246, 1) 0%, rgba(27, 147, 226, 1) 100%, rgba(27, 147, 226, 1) 100%);
  background:linear-gradient(180deg, rgba(36, 165, 246, 1) 0%, rgba(36, 165, 246, 1) 0%, rgba(27, 147, 226, 1) 100%, rgba(27, 147, 226, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:809px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6004_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:120px;
  height:80px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:795px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:120px;
  height:80px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:795px;
  width:100px;
  height:60px;
  display:flex;
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(36, 165, 246, 1) 0%, rgba(36, 165, 246, 1) 0%, rgba(27, 147, 226, 1) 100%, rgba(27, 147, 226, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(36, 165, 246, 1) 0%, rgba(36, 165, 246, 1) 0%, rgba(27, 147, 226, 1) 100%, rgba(27, 147, 226, 1) 100%);
  background:linear-gradient(180deg, rgba(36, 165, 246, 1) 0%, rgba(36, 165, 246, 1) 0%, rgba(27, 147, 226, 1) 100%, rgba(27, 147, 226, 1) 100%);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:6px;
  -moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:809px;
  width:100px;
  height:32px;
  display:flex;
  font-family:'Pingfang sc ', 'Pingfang sc', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:825px;
  width:0px;
  height:0px;
  font-size:10px;
  color:#000000;
}
#u6007_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u6007_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-17px;
  width:34px;
  height:34px;
}
#u6007_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:825px;
  width:0px;
  height:0px;
  font-size:10px;
  color:#000000;
}
#u6008_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:74px;
  height:10px;
}
#u6008_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-17px;
  width:34px;
  height:34px;
}
#u6008_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:825px;
  width:0px;
  height:0px;
  font-size:10px;
  color:#000000;
}
#u6009_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u6009_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-17px;
  width:34px;
  height:34px;
}
#u6009_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:825px;
  width:0px;
  height:0px;
  font-size:10px;
  color:#000000;
}
#u6010_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:74px;
  height:10px;
}
#u6010_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-17px;
  width:34px;
  height:34px;
}
#u6010_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:825px;
  width:0px;
  height:0px;
  font-size:10px;
  color:#000000;
}
#u6011_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:75px;
  height:10px;
}
#u6011_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-17px;
  width:34px;
  height:34px;
}
#u6011_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:855px;
  width:0px;
  height:0px;
  font-size:10px;
  color:#000000;
}
#u6012_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:20px;
}
#u6012_seg1 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:10px;
  width:179px;
  height:10px;
}
#u6012_seg2 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-14px;
  width:10px;
  height:34px;
}
#u6012_seg3 {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:-25px;
  width:34px;
  height:34px;
}
#u6012_text {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:855px;
  width:0px;
  height:0px;
  font-size:10px;
  color:#000000;
}
#u6013_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:20px;
}
#u6013_seg1 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:10px;
  width:179px;
  height:10px;
}
#u6013_seg2 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:-14px;
  width:10px;
  height:34px;
}
#u6013_seg3 {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:-25px;
  width:34px;
  height:34px;
}
#u6013_text {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
